<body style="background-color: white;">
	<div>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<script src="js/home.js" type="text/javascript"></script>
		<select id="cities" onchange="getPlaces()">
			<% cities.forEach(function(city){%>
				<option><%=city.city%></option>
			<%});%>
			
		</select>
	</div>
	<div id="main">
	</div>
<body>