<div id="food" class="w3-container w3-border city">
  <h2>Food</h2>
  <p>London is the capital city of England.</p>
</div>

<div id="drinks" class="w3-container w3-border city" style="display:none">
  <h2>Drinks</h2>
  <p>Paris is the capital of France.</p>
</div>

<div id="music" class="w3-container w3-border city" style="display:none">
  <h2>Music</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>
<div id="events" class="w3-container w3-border city" style="display:none">
  <h2>Events/Attraction</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>
<div id="hotels" class="w3-container w3-border city" style="display:none">
  <h2>Hotels And Stays</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>