<!DOCTYPE html>
<table>
	<% places.forEach(function(place){%>
		<tr>
			<td><%=place.placeName%></td>
			<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="https://lh5.googleusercontent.com/p/AF1QipNb9tuBA_-Op2iib2dwj6-5ag-nKWaui5Q8ptgo=k-no-n-w90-h128" width="90"></td>
		</tr>
	<%});%>
</table>
