<!DOCTYPE html>
<table>
	<% places.forEach(function(place){%>
		<tr>
			<td><%=place.placeName%></td>
			<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
		</tr>
	<%});%>
</table>
