body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 0px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main1 {margin-left: 0px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main1 {margin-left: 0px}}

.placeTD{
  background-color: white;
  color: black;
}

.mainTabs{
  position: absolute;
  background-color: #fffcfc;
  color: black;
  margin-top: 20px;
  font-size: 12px;
  position: absolute !important;
  max-width: 388px;
}

.displayPlaceInfo {
  background-color: #fffcfc;
  color: black;
  margin-top:164px;
}

select {
  text-align: center;
}
body
      {
        margin:0;
        padding:0;
        background:#000000;
      }
      .ring
      {
        margin-top: 20px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:150px;
        height:150px;
        background:transparent;
        border:3px solid #3c3c3c;
        border-radius:50%;
        text-align:center;
        line-height:150px;
        font-family:sans-serif;
        font-size:20px;
        color:#fff000;
        letter-spacing:4px;
        text-transform:uppercase;
        text-shadow:0 0 10px #fff000;
        box-shadow:0 0 20px rgba(0,0,0,.5);
      }
      .ring:before
      {
        content:'';
        position:absolute;
        top:-3px;
        left:-3px;
        width:100%;
        height:100%;
        border:3px solid transparent;
        border-top:3px solid #fff000;
        border-right:3px solid #fff000;
        border-radius:50%;
        animation:animateC 2s linear infinite;
      }
      .span
      {
        display:block;
        position:absolute;
        top:calc(50% - 2px);
        left:50%;
        width:50%;
        height:4px;
        background:transparent;
        transform-origin:left;
        animation:animate 2s linear infinite;
      }
      .span:before
      {
        content:'';
        position:absolute;
        width:16px;
        height:16px;
        border-radius:50%;
        background:#fff000;
        top:-6px;
        right:-8px;
        box-shadow:0 0 20px #fff000;
      }
      @keyframes animateC
      {
        0%
        {
          transform:rotate(0deg);
        }
        100%
        {
          transform:rotate(360deg);
        }
      }
      @keyframes animate
      {
        0%
        {
          transform:rotate(45deg);
        }
        100%
        {
          transform:rotate(405deg);
        }
      }



* {
  box-sizing: border-box;
}

.slider {
  width: 385px;
  text-align: center;
  overflow: hidden;
  margin-top: 165px;
  color: #565555;

}

.slides {
  margin-left: 26px;
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  flex-shrink: 0;
  width: 323px;
  height: 500px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-right: 18px;
  display: flex;
  /*justify-content: center*/;
  /*align-items: center*/;
  font-size: 14px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}

.slider > a {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  font-size: 10px;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}







